@font-face {
	font-family: 'LiftNet';
	src:url('../fonts/LiftNet.eot?g8qjk1');
	src:url('../fonts/LiftNet.eot?g8qjk1#iefix') format('embedded-opentype'),
		url('../fonts/LiftNet.ttf?g8qjk1') format('truetype'),
		url('../fonts/LiftNet.woff?g8qjk1') format('woff'),
		url('../fonts/LiftNet.svg?g8qjk1#LiftNet') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ln-"], [class*=" ln-"] {
	font-family: 'LiftNet';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ln-refresh:before {
	content: "\49";
}
.ln-admin:before {
	content: "\61";
}
.ln-broadcast:before {
	content: "\62";
}
.ln-certificate:before {
	content: "\63";
}
.ln-contract:before {
	content: "\64";
}
.ln-dollar:before {
	content: "\65";
}
.ln-expire:before {
	content: "\66";
}
.ln-flashlight:before {
	content: "\67";
}
.ln-home:before {
	content: "\68";
}
.ln-information:before {
	content: "\69";
}
.ln-install:before {
	content: "\6a";
}
.ln-logout:before {
	content: "\6b";
}
.ln-maintain:before {
	content: "\6c";
}
.ln-menu:before {
	content: "\6d";
}
.ln-message1:before {
	content: "\6e";
}
.ln-message2:before {
	content: "\6f";
}
.ln-monitor:before {
	content: "\70";
}
.ln-month-cost:before {
	content: "\71";
}
.ln-new:before {
	content: "\72";
}
.ln-parts:before {
	content: "\73";
}
.ln-presale:before {
	content: "\74";
}
.ln-profile:before {
	content: "\75";
}
.ln-remodel:before {
	content: "\76";
}
.ln-repair:before {
	content: "\77";
}
.ln-report-hotline:before {
	content: "\78";
}
.ln-report-maintain:before {
	content: "\79";
}
.ln-report-repair:before {
	content: "\7a";
}
.ln-report-service:before {
	content: "\41";
}
.ln-reports:before {
	content: "\42";
}
.ln-security:before {
	content: "\43";
}
.ln-service:before {
	content: "\44";
}
.ln-settings:before {
	content: "\45";
}
.ln-stranded:before {
	content: "\46";
}
.ln-user:before {
	content: "\47";
}
.ln-wallet:before {
	content: "\48";
}

